::-webkit-scrollbar
  width: 6px
  height: 6px

::-webkit-scrollbar-track-piece
  background: transparent
::-webkit-scrollbar-thumb:vertical
  height: 30px
  border-radius: 6px
  background-color: #545c64 
::-webkit-scrollbar-thumb:horizontal
  width: 30px
  border-radius: 6px
  background-color: #545c64 

*
  padding: 0
  margin: 0
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif, arial !important
  width: 100%
  height: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

.required
  position: relative
  &:after
    position: absolute
    top: 50%
    left: 0
    transform: translate(-150%, -25%)
    display: block
    content: '*'
    color: rgba(222, 44, 44, 1)
    font-size: 1rem
    font-weight: 600

.button
  position: relative
  border: 2px solid rgba(177,120,68, .4)
  background-color: rgba(177,120,68, .4)
  border-radius: 4px 
  cursor: pointer
  color: rgba(66,66,66,1)
  p
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  &:hover
    border: 2px solid rgba(177,120,68, .4)
    background-color: rgba(177,120,68, .9)
    color: rgba(255, 255, 255, 1)
    
    
